<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

	<div class="bg-contact2" style="background-image: url('images/bg-01.jpg');">
		<div class="container-contact2">
			<div class="wrap-contact2">
				<h3>Admin Panel</h3>
				<form class="contact2-form validate-form">
					
					<span class="contact2-form-title">
						Add Flight Details
					</span>

					<div class="wrap-input2 validate-input" >
						<input class="input2" type="text" name="name" [(ngModel)]="flightdetails.flightname">
						<span class="focus-input2" data-placeholder="flight"></span>
					</div>

					<div class="wrap-input2 validate-input">
						<input class="input2" type="text" name="email" [(ngModel)]="flightdetails.fromplace">
						<span class="focus-input2" data-placeholder="Departure"></span>
					</div>
                    <div class="wrap-input2 validate-input">
						<input class="input2" type="text" name="arrival" [(ngModel)]="flightdetails.toplace">
						<span class="focus-input2" data-placeholder="Arrival"></span>
					</div>
					
                    <div class="wrap-input2 validate-input">
						<input class="input2" type="date" name="date" [(ngModel)]="flightdetails.departd">
						<span class="focus-input2" ></span>
                    </div>
                    <div class="wrap-input2 validate-input">
						<input class="input2" type="text" name="rate" [(ngModel)]="flightdetails.rate">
						<span class="focus-input2" data-placeholder="rate"></span>
                    </div>
                    <div class="wrap-input2 validate-input">
						<input class="input2" type="text" name="seats" [(ngModel)]="flightdetails.seats">
						<span class="focus-input2" data-placeholder="seats"></span>
                    </div>
                    <div class="wrap-input2 validate-input">
						<input class="input2" type="text" name="time" [(ngModel)]="flightdetails.time">
						<span class="focus-input2" data-placeholder="time"></span>
					</div>
					<div class="container-contact2-form-btn">
						<div class="wrap-contact2-form-btn">
							<div class="contact2-form-bgbtn"></div>
							<button class="contact2-form-btn"  (click)="addflight()">
								ADD
							</button>
							
						</div>
					</div>
					<p style="color: darkred;font-style: italic; float: left;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 30px;">{{message}}</p>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
